.item {
    /* width: 400px; */
    border-radius: 10px;
    box-shadow: 2px 3px 2px 0px rgb(171, 171, 171);
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: white;
    padding: 10px 0px;
}

.status {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background-color: red;
    margin: 0px 15px 0 20px;
}

.online {
    background-color: green;
}

.avatar {
    width: 80px;
    border-radius: 10px;
    background-color: aliceblue;
}

.name {
    font-size: 18px;
    font-weight: 600;
}